body {
    background: #1c1d20;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.view_login {
    display: flex;
    width: 100%;
    height: auto;
}

.ingreso {
    width: 50%;
    height: auto;
    border-right: 1px solid #4bbbfb;
}

h2 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* text-transform: uppercase; */
    color: #6681fc;
    background: -webkit-linear-gradient(left, #7462fd, #4bbbfb);
    background: linear-gradient(to right, #7462fd, #4bbbfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#login {
    width: 100%;
    margin-top: 120px;
    height: auto;
    line-height: 1.5;
}

#login form {
    width: 80%;
    /* border: 1px solid #fff; */
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
    height: auto;
}

form .form {
    width: 80%;
    margin-top: 20px;
    margin: 0 auto;
    background: #232427;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .12);
    color: #fff;
}

.form {
    display: block;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

form a {
    margin-right: 65px;
    color: #6681fc;
    background: -webkit-linear-gradient(left, #7462fd, #4bbbfb);
    background: linear-gradient(to right, #7462fd, #4bbbfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 15px;
    margin-bottom: 10px;
    float: right;
}

a#registro {
    margin-left: 65px;
    float: left!important;
}

form input[type=checkBox] {
    margin-left: 65px;
    color: #6681fc;
    background: -webkit-linear-gradient(left, #7462fd, #4bbbfb);
    background: linear-gradient(to right, #7462fd, #4bbbfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 15px;
    margin-bottom: 10px;
    float: left;
}

form p {
    display: flex;
    display: inline-block;
    width: 25%;
    background: #4bbbfb;
    margin-top: 10px;
    margin-left: 10px;
    background: -webkit-linear-gradient(left, #7462fd, #4bbbfb);
    background: linear-gradient(to right, #7462fd, #4bbbfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#login form input[type="submit"] {
    margin: 20px 50px;
    width: 158px;
    height: 35px;
    border-radius: 26px;
    font-size: 18px;
    color: #6681fc;
    font-weight: bold;
    position: inherit;
    display: block;
}

label::before {
    content: "";
    background-repeat: no-repeat;
    background-position: left -4px;
    position: absolute;
    left: -40px;
    top: 0;
    width: 30px;
    height: 24px;
}

form label {
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
    /* text-transform: uppercase; */
    margin-left: 65px;
    color: #6681fc;
    background: -webkit-linear-gradient(left, #7462fd, #4bbbfb);
    background: linear-gradient(to right, #7462fd, #4bbbfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
}

.form:focus {
    border-top: 1px solid #4bbbfb;
    border-right: 1px solid #4bbbfb;
    border-bottom: 1px solid #7462fd;
    border-bottom: 1px solid #7462fd;
    border-left: #7462fd;
}
input:focus{
    border-top: 1px solid #4bbbfb;
    border-right: 1px solid #4bbbfb;
    border-bottom: 1px solid #7462fd;
    border-bottom: 1px solid #7462fd;
    border-left: #7462fd;
}

.registro_user {
    width: 50%;
    margin-left: 5%;
    margin-top: 100px;
    display:none;
}

.form_registro {
    margin: 0 auto;
    height: auto;
    height: -webkit-fill-available;
   
}

.form_registro label {
    font-family: sans-serif;
    position: relative;
    font-size: 20px;
    /* text-transform: uppercase; */
    margin-left: 25px;
    color: #6681fc;
    background: -webkit-linear-gradient(left, #7462fd, #4bbbfb);
    background: linear-gradient(to right, #7462fd, #4bbbfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.splas{
    width: 50%;
    margin-top:70px;
}
.splash_views{
    margin-left: 10%;
    width: 80%;
    height: 300px;
    border: 1px solid #4bbbfb;
}
.splas h2, h1{
    margin-left: 10%;
    color: #6681fc;
    background: -webkit-linear-gradient(left, #7462fd, #4bbbfb);
    background: linear-gradient(to right, #62fd77, #4bbbfb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.registro_user form .inline {
    margin: 0 auto;
    background: #232427;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .12);
    color: #fff;
}

.registro_user form .block {
    margin: 0 auto;
    background: #232427;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .12);
    color: #fff;
}

.div_block {
    width: 49%;
    display: inline-block;
}

.inline {
    display: inline-block;
    width: 85%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.block {
    display: block;
    float: left;
    width: 86%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.register {
    margin: 40px 10px;
    width: 200px;
    height: 35px;
    border-radius: 26px;
    font-size: 18px;
    color: #6681fc;
    font-weight: bold;
    position: inherit;
    display: block;
}
#ckeck{
    font-size: 20px;
}
.recuperar{
    /* display: none; */
    margin-top: 100px;
    width:50%;
}
.recuperar form{
    width:60%;
    margin: 0 auto;
}
.recuperar label{
    width: 68%;
    margin-left: 0 auto ;
}
.recuperar input[type="submit"]{
    margin-left: 27%;
}