<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>start</title>
    <link rel="stylesheet" href="../css/start.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  
  <body>
    <header>
      <div class="head">
        <div class="logo">
          <h2 style="text-align: left; margin-top: 4px;">Face</h2>
          <h2 style="text-align: right; margin-top: -10px;">Face</h2>
        </div>
        <div class="search">
          <input type="search">
        </div>
        <div class="menu">
          <div class="profile">
            <div class="photo_profile"></div>
            <div class="name_profile">
              <span>Yeko Garcia</span>
            </div>
          </div>
          <div class="start"><a href=""><img src="../img/home.svg" alt=""></a>
            <!-- <div class="start_img"><a href=""><img src="../img/home.svg" alt=""></a></div> -->
            <!-- <div class="start_txt"><a href=""><span>Home</span></a></div>  -->
          </div>
          <div class="request"><a href=""><img src="../img/create1.svg" alt=""></a></div>
          <div class="messages"><a href=""><img src="../img/messages.svg" alt=""></a></div>
          <div class="notification"><a href=""><img src="../img/notifications.svg" alt=""></a></div>
          <div class="create"><a href=""><img src="../img/add.svg" alt=""></a></div>
          <div class="help"><a href=""><img src="../img/information.svg" alt=""></a></div>
          <div class="drop_down"><a href=""><img src="../img/drop.svg" alt=""></a></div>
        </div>
      </div>
    </header>
    <div class="template">
      <div class="places"></div>
      <div class="stories">
        <div class="new_history">
          <div class="head_history_new">
            <h4>New history</h4>
          </div>
          <div class="body_history_new">
            <textarea name="new_histry" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="footer_history_new">
            <div class="foto_video"><img src="" alt=""><a href=""><h4>photo/video</h4></a></div>
            <div class="lugar"><img src="" alt=""><a href=""><h4>Place</h4></a></div>
            <div class="share"><img src="" alt=""><a href=""><h4>Add</h4></a></div>
          </div>
        </div>
        <div class="history">
          <div class="head_history">
            <div class="img_histroy"></div>
            <div class="name_histry">
              <h4>Diccionario ñero</h4>
              <span>Hace 13 hrs</span>
            </div>
            <div class="options"></div>
          </div>
          <div class="body_history">
            <img src="../img/índice.jpeg" alt="">
          </div>
          <div class="footer_history">
            <div class="foto_video"><img src="" alt=""><a href=""><h4>photo/video</h4></a></div>
            <div class="lugar"><img src="" alt=""><a href=""><h4>Place</h4></a></div>
            <div class="share"><img src="" alt=""><a href=""><h4>Add</h4></a></div>
          </div>
        </div>
        <div class="history">
          <div class="head_history">
            <div class="img_histroy"></div>
            <div class="name_histry">
              <h4>Diccionario ñero</h4>
              <span>Hace 13 hrs</span>
            </div>
            <div class="options"></div>
          </div>
          <div class="body_history">
            <img src="../img/meme.jpg" alt="">
          </div>
          <div class="footer_history">
            <div class="foto_video"><img src="" alt=""><a href=""><h4>photo/video</h4></a></div>
            <div class="lugar"><img src="" alt=""><a href=""><h4>Place</h4></a></div>
            <div class="share"><img src="" alt=""><a href=""><h4>Add</h4></a></div>
          </div>
        </div>
      </div>
      <div class="friends"></div>
    </div>
    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
  </body>
  </html>
