<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>red</title>
</head>

<body>
    <div class="view_login">
        <div class="ingreso">
            <div id="login">
                <h2>Sing in and Sing Up</h2>
                <form action="">
                    <div>
                        <label class="email" for="email">E-mail</label>
                        <input type="email" class="form" placeholder="E-mail" required>
                    </div>
                    <div>
                        <label class="email" for="email"> Password</label>
                        <input type="password" class="form" placeholder="Password" required>
                    </div>
                    <input type="checkbox" value="Sing in">
                    <p>Remember me</p>
                    <a id="recover" href="" onclick="mostrar()">Forgot Password ..?</a>
                    <input type="submit" value="Sing in">
                    <a id="registro" href="">Don't Have an account..? Sign Up Here</a>
                </form>
            </div>
        </div>
        <div class="splas" id="splas">
            <h1>you are welcome.</h1>
            <h2>Where you can enjoy with your friends</h2>
            <div class="splash_views">
            </div>
        </div>
        <div class="registro_user">
            <h2>Register Account</h2>
            <form action="" class="form_registro">
                <div class="div_block">
                    <label class="label_reg" for="email">Name</label>
                    <input type="text" class="inline" placeholder="Name">
                </div>
                <div class="div_block">
                    <label class="label_reg" for="email">Surname</label>
                    <input type="text" class="inline" placeholder="Surname">
                </div>
                <div class="div_block">
                    <label class="label_reg" for="email">Birth date </label>
                    <input type="date" class="block" placeholder="Birth Date">
                </div>
                <div class="div_block">
                    <label class="label_reg" for="email">E-mail</label>
                    <input type="email" class="block" placeholder="E-mail">
                </div>
                <div class="div_block">
                    <label class="label_reg" for="email">Password</label>
                    <input type="password" class="inline" placeholder="Password">
                </div>
                <div class="div_block">
                    <label class="label_reg" for="email">Repeat password </label>
                    <input type="password" class="inline" placeholder="Repeat password">
                </div>
                <div class="">
                    <label class="label_reg" for="email">Sex</label>
                    <span><input type="radio" class="" name="sex" placeholder="">
                    <p id="ckeck">Woman</p>
                    <input type="radio" class="" name="sex" placeholder="">
                    <p id="ckeck">Man</p>
                    <input type="radio" class="" name="sex" placeholder="">
                    <p id="ckeck" name="sex">Other</p></span>
                </div>
                <input type="submit" class="register" value="Register">
            </form>
        </div>
        <div id="recupe" class="recuperar" style="display: none;" >
            <h2>Recover your account</h2><br>
            <form action="">
                <div>
                    <label class="label_reg" for="email">
                        Enter your email to find your account.
                    </label>
                    <input type="email" class="form" placeholder="E-mail">
                </div>
                <input type="Submit" name="" class="register" value="Send">
            </form>
        </div>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="../js/login.js"></script>
</body>
</html>